body {
    background-image: url(ABOUTBG.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 10% 0;
    padding-left: 50px;
    padding-right: 30%;

    background-size: cover;
    color: #ededed;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
    font-weight: 800;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: .7s;
    padding-left: 10%;
}
p{
    text-align: justify;
    font-family:cursive;
    color: black;
    padding-left:30%;
    padding-right: 5%;
    font-size: 15px;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 2s;

}
p1{
   color: black;
   text-align: center;
   opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 2s;
}
button {
    background-color: black;
    color: #fff;
    border:#fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px black,
        0 0 25px black
              
}
.button:hover {
    box-shadow: 0 0 5px black,
        0 0 25px black, 0 0 50px black,
        0 0 100px black, 0 0 200px black
}


@keyframes slideleft {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}